@inject IModalService  modalService

<div class="container row">
	<div class="text-break">
		<b>Tiger Hash Value of this file is:</b>
		@HashValue
	</div>
	
</div>

@code {
	[CascadingParameter] ModalParameters Parameters { get; set; }
	string HashValue { get; set; }

	protected override void OnInitialized()
	{
		HashValue = Parameters.Get<string>("HashValue");
	}
}